/* sertifikat section code  */

.sertifikat {
    background: var(--snd-bg-color);
}

.sertifikat .heading {
    text-align: center;
    margin-bottom: 5rem;
}

.sertifikat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.sertifikat-box {
    min-height: 450px;
    max-width: 450px;
    background: var(--bg-color);
    border: 0.3rem solid var(--bg-color);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--text-color);
    transition: 0.3s ease;
}

.sertifikat-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.sertifikat-box img {
    width: 100%;
    max-width: 50rem;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.sertifikat-box h3 {
    margin-top: 2rem;
    font-size: 2rem;
}
